<div class="dimension">
    <div class="container-grid-sys">
        <div class="left">
            <div>
                <h2>{{ title }} </h2>     
                <p style="color: red;">
                    {{msg}}
                </p>    
            </div>
            <div class="body">
                <textarea class='styled' placeholder="Enter text here..." [(ngModel)]="mathContent"
                    (ngModelChange)="doSomething($event)"></textarea>
                <div id='preview'>
                    <h2>Preview</h2>
                    <mat-divider></mat-divider>
                    <mathjax [content]='mathContent' class="box"></mathjax>
                </div>
            </div>
        </div>
    </div>
</div>